<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos.css">
    <title>Página Principal</title>
</head>
<body>
    <header>
    </header>
    <main>
        <img src="/img/arasaka.jpeg" alt="Logo de Arasaka" width="350">
        <h2>Elige una opción para comenzar:</h2>
        <!-- Espacio adicional usando margen -->
        <div style="margin-top: 20px;">
            <a href="/registro" class="button">Registrarse</a>
            <a href="/login" class="button">Iniciar sesión</a>
        </div>
    </main>
</body>
</html>