/* Estilo Global */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    text-align: center;
}

header {
    background-color: #900; /* Rojo oscuro */
    padding: 20px 0;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    color: #fff;
    margin: 0;
}

/* Botones */
button, a.button {
    background-color: #900; /* Rojo oscuro */
    color: #fff;
    padding: 15px 30px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, a.button:hover {
    background-color: #c00; /* Rojo más claro */
}

main {
    padding: 20px;
}

/* Formularios */
form {
    background-color: #222; /* Gris oscuro */
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.3); /* Sombra roja */
    max-width: 400px;
    text-align: left;
}

form h2 {
    margin-top: 0;
    color: #fff;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

input[type="submit"] {
    background-color: #900; /* Rojo oscuro */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #c00; /* Rojo más claro */
}

/* Enlaces */
a {
    color: #c00;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #f00; /* Rojo brillante */
}
